body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

.hidden {
    display: none;
}

.card {
    display: flex;
    justify-content: space-around;
    background-color: rgb(119, 156, 144);
    font-weight: bold;
    font-size: 20px;
    padding: 50px;
    margin: 50px;
    box-sizing: border-box;

}

.alert {
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 203, 199);
    font-weight: bold;
    font-size: 20px;
    color: rgb(39, 44, 42);
    padding: 50px;
    margin: 50px;
    box-sizing: border-box;

}


.input {
    color: black;
    font-weight: bold;
}

.btn-secondary {
    background-color: yellowgreen;
    font-size: 20px;
    float: right;
}